{% load static %}
<!DOCTYPE html>

<head>
    <title>Çözüm Burada</title>
	<link href="{% static 'img/cozumburada-fav-icon.png' %}" rel="shortcut icon"/>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/reg.css' %}"/>

</head>

<body>
{% if messages %}
  <div id="message-popup" class="container-fluid">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeMessagePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>

  <script>
    function closeMessagePopup() {
      document.getElementById("message-popup").style.display = "none";
    }
  </script>
{% endif %}



<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="" method="post">
            {% csrf_token %}
			<h1>Hesap Oluştur</h1>
			<input name="name" id="name" type="text" placeholder="Kullanıcı adı" />
			<input name="first_name" id="first_name" type="text" placeholder="Ad" />
			<input name="last_name" id="last_name" type="text" placeholder="Soyad" />
			<input name="email" id="email" type="email" placeholder="Email" />
			<input name="password" id="password" type="password" placeholder="Şifre" />
			<input name="password-again" id="password-again" type="password" placeholder="Şifre" />
			<button>Kayıt Ol</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="" method="post">
            {% csrf_token %}
			<h1>Giriş</h1>



			<input name="email" id="email" type="text" placeholder="Kullanıcı adı" />
			<input name="password" id="password" type="password" placeholder="Şifre" />
			<a href="password-forget.html">Şifremi Unuttum</a>
			<button>Giriş Yap</button>
            <span><a href="anasayfa">Anasayfa</a></span>

		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Çözüm Burada Hoşgeldiniz</h1>
				<p>Giriş yaparak çözülmesi gereken sorunlarınızı yazmaya başlayabilirsiniz</p>
				<button class="ghost" id="signIn">Giriş Yap</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Merhaba, Çözüm Burada!</h1>
				<p>Kayıt olarak sonra sorunlarınızı yazabilirsiniz</p>
				<button class="ghost" id="signUp">Kayıt Ol</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/reg.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>

</body>
</html>