{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>Çözüm Burada</title>
	<link href="{% static 'img/cozumburada-fav-icon.png' %}" rel="shortcut icon"/>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/email-verify.css' %}"/>

</head>
<body>
	<div class="container">
		<h1>Çözüm Buradaya Hoşgeldiniz</h1>
        <span>Hesap doğrulamanız email adresinize gönderilmiştir. <br> Email adresinizi onayladıktan sonra şikayetlerinizi yazabilirsiniz. </span>
		<button>Giriş Yap</button>
	</div>
</body>
</html>
